/*
 * Style sheet for some custom styles which cannot be achieved with Bootstrap.
 */


#page-content {
    margin-bottom: 60px;
}

.bg-block {
    padding: 15px;
}

.form-inline .form-group {
    margin-right: 10px;
}

.form-inline .help-block {
    /* Help texts don't really have much space in inline forms */
    display: none;
}

.clearable-input-image {
    vertical-align: top;
}

.image-column {
    width: 80px;
}

.team-image {
    width: 50px;
}

#mail-teams-content {
    margin-top: 40px;
}
