/*
 * Style sheet for some custom styles which cannot be achieved with Bootstrap.
 */


#page-content {
    margin-bottom: 60px;
}

.image-column {
    width: 80px;
}

.team-image {
    width: 50px;
}

.clearable-input-image {
    vertical-align: top;
}
