/*
 * Style sheet for some custom styles which cannot be achieved with Bootstrap.
 */

/*
 * Target all headings that have any element preceding them on the same level, this prevents unnecessary
 * margins for the first heading
 */
* + h1, * + h2, * + h3, * + h5, * + h6 {
    margin-top: 1.1em;
}

#user-menu[data-bs-popper] {
    left: unset;
    right: 0;
}

#page-content {
    margin-bottom: 60px;
}

.nav-pills {
    margin-bottom: 30px;
}

input.number-field {
    width: 5em;
}

.clearable-input-image {
    vertical-align: top;
}

.flatpage-content img {
    max-width: 100%;
}

th.border-left, td.border-left {
    border-left: 2px solid #DDDDDD;
}

th.border-right, td.border-right {
    border-right: 2px solid #DDDDDD;
}

.image-column {
    width: 80px;
}

.name-column {
     min-width: 12em;
     max-width: 15em;
}

.team-image {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

img#load-spinner {
    width: 1.7em;
}

#history-table td {
    padding-left: 2px;
    padding-right: 2px;
}

#history-table td a {
    /* Make the whole table cell clickable */
    display: block;
}

#history-table td a {
    text-decoration: none;
}

#check-list {
    padding-left: 20px;
}
